[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
react = "*"
uvicorn = {version = "*", extras = ["standard"]}
oauth2client = "*"
gspread = "*"

[dev-packages]

[requires]
python_version = "3.12"
